xsd/isolyzer-rdoll.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kb.nl/ns/isolyzer/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="isolyzer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="toolInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="toolName"/>
              <xs:element type="xs:string" name="toolVersion"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fileInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="fileName"/>
                    <xs:element type="xs:string" name="filePath"/>
                    <xs:element type="xs:int" name="fileSizeInBytes"/>
                    <xs:element type="xs:string" name="fileLastModified"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="statusInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="success"/>
                    <xs:element type="xs:string" name="failureMessage" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:integer" name="sectorOffset"/>
              <xs:element name="tests">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="containsKnownFileSystem"/>
                    <xs:element type="xs:int" name="sizeExpected"/>
                    <xs:element type="xs:int" name="sizeActual"/>
                    <xs:element type="xs:int" name="sizeDifference"/>
                    <xs:element type="xs:float" name="sizeDifferenceSectors"/>
                    <xs:element type="xs:string" name="sizeAsExpected"/>
                    <xs:element type="xs:string" name="smallerThanExpected"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="fileSystems">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="fileSystem" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element name="masterDirectoryBlock">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="signature"/>
                                <xs:element type="xs:integer" name="blockCount"/>
                                <xs:element type="xs:integer" name="blockSize"/>
                                <xs:element type="xs:string" name="volumeName"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="hfsPlusVolumeheader">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="signature"/>
                                <xs:element type="xs:integer" name="version"/>
                                <xs:element type="xs:integer" name="blockSize"/>
                                <xs:element type="xs:integer" name="blockCount"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="primaryVolumeDescriptor">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:integer" name="typeCode"/>
                                <xs:element type="xs:string" name="standardIdentifier"/>
                                <xs:element type="xs:integer" name="version"/>
                                <xs:element type="xs:string" name="systemIdentifier"/>
                                <xs:element type="xs:string" name="volumeIdentifier"/>
                                <xs:element type="xs:integer" name="volumeSpaceSize"/>
                                <xs:element type="xs:integer" name="volumeSetSize"/>
                                <xs:element type="xs:integer" name="volumeSequenceNumber"/>
                                <xs:element type="xs:integer" name="logicalBlockSize"/>
                                <xs:element type="xs:integer" name="pathTableSize"/>
                                <xs:element type="xs:integer" name="typeLPathTableLocation"/>
                                <xs:element type="xs:integer" name="optionalTypeLPathTableLocation"/>
                                <xs:element type="xs:integer" name="typeMPathTableLocation"/>
                                <xs:element type="xs:integer" name="optionalTypeMPathTableLocation"/>
                                <xs:element type="xs:string" name="volumeSetIdentifier"/>
                                <xs:element type="xs:string" name="publisherIdentifier"/>
                                <xs:element type="xs:string" name="dataPreparerIdentifier"/>
                                <xs:element type="xs:string" name="applicationIdentifier"/>
                                <xs:element type="xs:string" name="copyrightFileIdentifier"/>
                                <xs:element type="xs:string" name="abstractFileIdentifier"/>
                                <xs:element type="xs:string" name="bibliographicFileIdentifier"/>
                                <xs:element type="xs:string" name="volumeCreationDateAndTime"/>
                                <xs:element type="xs:string" name="volumeModificationDateAndTime"/>
                                <xs:element type="xs:string" name="volumeExpirationDateAndTime"/>
                                <xs:element type="xs:string" name="volumeEffectiveDateAndTime"/>
                                <xs:element type="xs:integer" name="fileStructureVersion"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="partitionDescriptor">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:integer" name="tagIdentifier"/>
                                <xs:element type="xs:integer" name="descriptorVersion"/>
                                <xs:element type="xs:integer" name="tagSerialNumber"/>
                                <xs:element type="xs:integer" name="volumeDescriptorSequenceNumber"/>
                                <xs:element type="xs:integer" name="partitionNumber"/>
                                <xs:element type="xs:integer" name="accessType"/>
                                <xs:element type="xs:integer" name="partitionStartingLocation"/>
                                <xs:element type="xs:integer" name="partitionLength"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="logicalVolumeDescriptor">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:integer" name="tagIdentifier"/>
                                <xs:element type="xs:integer" name="descriptorVersion"/>
                                <xs:element type="xs:integer" name="tagSerialNumber"/>
                                <xs:element type="xs:integer" name="volumeSequenceNumber"/>
                                <xs:element type="xs:string" name="logicalVolumeIdentifier"/>
                                <xs:element type="xs:integer" name="logicalBlockSize"/>
                                <xs:element type="xs:string" name="domainIdentifier"/>
                                <xs:element type="xs:integer" name="mapTableLength"/>
                                <xs:element type="xs:integer" name="numberOfPartitionMaps"/>
                                <xs:element type="xs:string" name="implementationIdentifier"/>
                                <xs:element type="xs:integer" name="integritySequenceExtentLength"/>
                                <xs:element type="xs:integer" name="integritySequenceExtentLocation"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="logicalVolumeIntegrityDescriptor">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:integer" name="tagIdentifier"/>
                                <xs:element type="xs:integer" name="descriptorVersion"/>
                                <xs:element type="xs:integer" name="tagSerialNumber"/>
                                <xs:element type="xs:string" name="timeStamp"/>
                                <xs:element type="xs:integer" name="integrityType"/>
                                <xs:element type="xs:integer" name="numberOfPartitions"/>
                                <xs:element type="xs:integer" name="lengthOfImplementationUse"/>
                                <xs:element type="xs:integer" name="freeSpaceTable"/>
                                <xs:element type="xs:integer" name="sizeTable"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="appleZeroBlock">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="signature"/>
                                <xs:element type="xs:integer" name="blockSize"/>
                                <xs:element type="xs:integer" name="blockCount"/>
                                <xs:element type="xs:integer" name="deviceType"/>
                                <xs:element type="xs:integer" name="deviceID"/>
                                <xs:element type="xs:long" name="driverData"/>
                                <xs:element type="xs:integer" name="driverDescriptorCount"/>
                                <xs:element type="xs:integer" name="driverDescriptorBlockStart"/>
                                <xs:element type="xs:integer" name="driverDescriptorBlockCount"/>
                                <xs:element type="xs:integer" name="driverDescriptorSystemType"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="applePartitionMap">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="signature"/>
                                <xs:element type="xs:integer" name="numberOfPartitionEntries"/>
                                <xs:element type="xs:integer" name="partitionBlockStart"/>
                                <xs:element type="xs:integer" name="partitionBlockCount"/>
                                <xs:element type="xs:string" name="partitionName"/>
                                <xs:element type="xs:string" name="partitionType"/>
                                <xs:element type="xs:integer" name="partitionLogicalBlockStart"/>
                                <xs:element type="xs:integer" name="partitionLogicalBlockCount"/>
                                <xs:element type="xs:integer" name="partitionFlags"/>
                                <xs:element type="xs:integer" name="bootCodeBlockStart"/>
                                <xs:element type="xs:integer" name="bootCodeSizeInBytes"/>
                                <xs:element type="xs:integer" name="bootCodeLoadAddress"/>
                                <xs:element type="xs:integer" name="bootCodeJumpAddress"/>
                                <xs:element type="xs:integer" name="bootCodeChecksum"/>
                                <xs:element type="xs:string" name="processorType"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="standardFileStructureVolumeDescriptor">
                            <xs:complexType>
                              <xs:choice maxOccurs="unbounded" minOccurs="0">
                                <xs:element type="xs:integer" name="volumeDescriptorLBN"/>
                                <xs:element type="xs:integer" name="volumeDescriptorType"/>
                                <xs:element type="xs:string" name="volumeStructureStandardIdentifier"/>
                                <xs:element type="xs:integer" name="volumeStructureStandardVersion"/>
                                <xs:element type="xs:string" name="systemIdentifier"/>
                                <xs:element type="xs:string" name="volumeIdentifier"/>
                                <xs:element type="xs:int" name="volumeSpaceSize"/>
                                <xs:element type="xs:integer" name="volumeSetSize"/>
                                <xs:element type="xs:integer" name="volumeSetSequenceNumber"/>
                                <xs:element type="xs:integer" name="logicalBlockSize"/>
                                <xs:element type="xs:integer" name="pathTableSize"/>
                                <xs:element type="xs:integer" name="firstMandatoryPathTableLocation"/>
                                <xs:element type="xs:integer" name="optionalPathTableLocation" maxOccurs="unbounded" minOccurs="0"/>
                                <xs:element type="xs:int" name="secondMandatoryPathTableLocation"/>
                                <xs:element type="xs:string" name="volumeSetIdentifier"/>
                                <xs:element type="xs:string" name="publisherIdentifier"/>
                                <xs:element type="xs:string" name="dataPreparerIdentifier"/>
                                <xs:element type="xs:string" name="applicationIdentifier"/>
                                <xs:element type="xs:string" name="copyrightFileIdentifier"/>
                                <xs:element type="xs:string" name="abstractFileIdentifier"/>
                                <xs:element type="xs:string" name="volumeCreationDateAndTime"/>
                                <xs:element type="xs:string" name="volumeModificationDateAndTime"/>
                                <xs:element type="xs:string" name="volumeExpirationDateAndTime"/>
                                <xs:element type="xs:string" name="volumeEffectiveDateAndTime"/>
                                <xs:element type="xs:integer" name="fileStructureStandardVersion"/>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                        <xs:attribute type="xs:string" name="TYPE" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

